.projectsec {
    padding-bottom: 8%;

    .heading {
        font-weight: 800;
    font-size: 37px;
    margin-bottom: 4%;
    background: linear-gradient(34deg, rgb(208, 16, 224) 1%, rgb(255 203 4) 24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    }

}