.aboutsec {
    padding-top: 8%;
    padding-bottom: 8%;

    .abotimg {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }

    .aboutdtls {
   
        h2 {
            font-weight: 700;
        
            font-size: 40px;
        }
        P{
            color: gray;
        }


        .buttonsflx {
            margin-top: 5%;
            display: flex;
            gap: 20px;

            .pbtn {
                padding: 10px 21px;
                border-radius: 30px;
                background-color: transparent ;
              
                svg {
                    margin-left: 9px;
                    color: white;
                }

                &:nth-child(1) {
                    background: linear-gradient(104deg, rgba(172, 53, 223, 0.877) 0%, rgba(212, 46, 52, 0.904) 45%, rgb(255, 135, 61) 100%);
                    border: none;
                    color: white;
                }

                &:nth-child(2) {
                    border: 2px solid rgba(155, 152, 152, 0.616) !important;
                }
            }

        }

    }
}


// Responive section start

@media only screen and (max-width: 990px) {
    .aboutsec .aboutdtls h2 {
        margin-top: 5%;
        margin-bottom: 4%;
    
    }
}


@media only screen and (max-width: 880px) {
    .aboutsec {
        padding-top: 18%;
        padding-bottom: 16%;
    }

}

// Responive section end