.skill {

    overflow: hidden !important;
    padding-bottom: 8%;

    .heading {

        font-weight: 800;
    font-size: 37px;
    margin-bottom: 4%;
    background: linear-gradient(34deg, rgb(208, 16, 224) 1%, rgb(255 203 4) 24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    .titleCard {
        height: 100%;
        text-align: center;
        box-shadow: 0px 0px 11px 0px #00000014;
        padding: 25px;
        border-radius: 10px;
        transition: 0.4s linear;
        cursor: pointer;
        


        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
        }

        h2 {
            margin-top: 4%;
            margin-bottom: 4%;
            font-size: 1.5rem;
        }

        p {
            color: grey;
        }



        &:hover{
            box-shadow: 6px 7px 26px 0px #cfcfcf;
        }
    }

}


// Responsive Section start

@media only screen and (max-width: 880px) {
    .skill .heading {
        margin-bottom: 10%;
    }
}

// Responsive Section end